<h1>Welcome to Teller Scheduler</h1>
<!-- 	<%# tellerList = ["Danie", "Jim", "Sally"] %>
	<%# tellerList.each do |teller|%>
		<%#= teller %> </br>
<%# end %>
<p>
<form action="">
    <input type="submit" value="Add Teller">
<form action="">
    <input type="submit" value="Remove Teller">
</form> -->